<section ng-controller="AlbumsController">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form class="form-group">
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">
								<label>Search: </label>
							</div>
							<div class="col-md-10">
								<input type="text" placeholder="Search" ng-model="query" class="form-control">
							</div>							
						</div>
					</div>
				</form>
			</div>

			<div class="col-md-6">
				<form class="form-group">
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">
								<label for="sortAlbums">Sort: </label>
							</div>
							<div class="col-md-10">
								<select ng-model="sort" class="form-control" name="sortAlbums">
									<option value="name">By name INCR</option>
									<option value="-name">By name DECR</option>
									<option value="year">By year INCR</option>
									<option value="-year">By year DECR</option>
								</select>
							</div>
						</div>
					</div>
				</form>	
			</div>
		</div>
		<hr>
	
		<div class="row">
			<div class="col-md-3" ng-repeat="album in albums | orderBy: sort | filter: query">
				 <div class="thumbnail">
				 	<img ng-src="{{album.cover}}" />
				 	 <div class="caption">
				 	 	<h3>{{album.name}}</h3>
						<p>
							<time class="label label-default">{{album.year}}</time>
						</p>
				 	 	<p>
				 	 		<a class="btn btn-default" ng-href="/#!/albums/{{album.id}}">View</a>
				 	 	</p>					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>